.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--sec-bg-color);
  padding: 3rem 2rem;
  .footer-item {
    padding: 1rem;
  }
}
