.navbar {
  background-color: var(--sec-bg-color);
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .brand {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.5rem;
  }
  .developer {
    color: var(--text-color);
    font-size: 1.2rem;
  }
}
