@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");
.btn,
input[type="submit"] {
  border: none;
  border-radius: 1.5rem;
  background-color: white;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.8rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.btn:hover,
input[type="submit"]:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn-outline {
  border: none;
  border-radius: 1.5rem;
  background: none;
  color: white;
  border: 1px solid white;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.8rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-outline:hover {
  background-color: white;
  color: black;
}

.container {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--sec-bg-color);
}

.dashboard .dash-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1rem;
  width: 15rem;
  height: 15rem;
}

.dashboard .dash-items h1 {
  font-size: 1.2rem;
  font-weight: 700;
}

.dashboard .dash-items h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.dashboard .dash-items h3 {
  font-size: 1rem;
  font-weight: 600;
}

.dashboard .dash-items .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem 1rem 0rem 0rem;
  height: 3rem;
  width: 15rem;
  background-color: #74f9ff;
}

.dashboard .dash-items .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  height: 5rem;
  width: 15rem;
  background-color: #a6fff2;
}

.dashboard .dash-items .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0 0 1rem 1rem;
  height: 7rem;
  width: 15rem;
  background-color: #e8ffe8;
}

.search-container {
  margin: 2rem 0;
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-container .search-bar {
  background-color: #414141;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  outline: none;
  width: 100%;
  margin-bottom: 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.search-container .search-bar:focus {
  -webkit-box-shadow: 0 0 20px #333333;
          box-shadow: 0 0 20px #333333;
}

.search-container .yt-card {
  width: 240px;
  height: 300px;
  margin-right: 1rem;
  border-radius: 1rem;
  background-color: #323232;
  margin-bottom: 1rem;
}

.search-container .yt-card img {
  border-radius: 1rem 1rem 0 0;
  width: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

.search-container .yt-card h1 {
  padding: 0 1rem;
  font-size: 1rem;
  text-align: center;
}

.search-container .yt-card a {
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.search-container .yt-card a:hover {
  color: var(--primary);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
  height: 100vh;
  color: var(--text-color);
  background-color: var(--sec-bg-color);
}

.hero h1 {
  font-size: 4rem;
  font-weight: 700;
  color: white;
}

.hero h2 {
  font-size: 2rem;
}

.hero-item {
  padding: 2rem;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: wheat;
  padding: 2rem 2rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
}

.faq h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.faq div {
  background-color: #fad284;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.faq div h2 {
  margin-bottom: 0.5rem;
}

.faq div p {
  font-size: 1.2rem;
}

.faq div p span {
  font-weight: bold;
}

.tooltip-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.tooltip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
  height: 250px;
  background-color: white;
  padding: 0 1rem 1rem 1rem;
  border-radius: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  -webkit-clip-path: circle(15% at 50% 0);
          clip-path: circle(15% at 50% 0);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.tooltip h2 {
  font-size: 1rem;
}

.tooltip p {
  color: #2c2c2c;
}

.tooltip .info-icon {
  margin-top: -10px;
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 1.5rem;
}

.tooltip .info-icon img {
  width: 2rem;
  padding: 0.2rem;
}

.tooltip:hover {
  -webkit-clip-path: circle(100% at 50% 0);
          clip-path: circle(100% at 50% 0);
  background-color: #29dce2;
}

.navbar {
  background-color: var(--sec-bg-color);
  padding: 1.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .brand {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.5rem;
}

.navbar .developer {
  color: var(--text-color);
  font-size: 1.2rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  padding: 0rem;
  border: 1px solid #5f5f5f;
  border-radius: 2rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.card .btn-card {
  width: 100%;
  background-color: var(--primary);
  border: none;
  border-radius: 1.5rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.8rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card .top {
  border-radius: 2rem 2rem 0rem 0rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.card .bottom {
  border-radius: 0 0 2rem 2rem;
}

.card .btn-card:hover {
  background-color: white;
  color: black;
}

.card:hover {
  -webkit-box-shadow: 0 0 20px rgba(54, 54, 54, 0.911);
          box-shadow: 0 0 20px rgba(54, 54, 54, 0.911);
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.8rem;
  margin: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 2rem;
  color: white;
  background-color: black;
}

form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.custom-file-upload::-webkit-file-upload-button {
  visibility: hidden;
}

input[type="file"] {
  color: transparent;
}

.custom-file-upload::before {
  content: "Upload Your Chat File";
  display: inline-block;
  border: 1px solid var(--text-color);
  border-radius: 1.5rem;
  padding: 0.8rem;
  color: var(--text-color);
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.8rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-file-upload:hover::before {
  border-color: white;
  color: white;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background-color: var(--sec-bg-color);
  padding: 3rem 2rem;
}

.footer .footer-item {
  padding: 1rem;
}

* {
  font-family: "Nunito", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --bg-color: rgb(36, 36, 36);
  --sec-bg-color: rgb(36, 36, 36);
  --primary: #e8505b;
  --text-color: rgb(180, 180, 180);
}

html {
  background-color: var(--bg-color);
}

.howto {
  max-width: 100%;
}

@media screen and (max-width: 700px) {
  .container {
    padding: 1rem;
  }
  .navbar {
    padding: 1rem 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero h1 {
    font-size: 2.5rem;
  }
  .hero h2 {
    font-size: 1.5rem;
  }
  .hero .hero-item {
    text-align: center;
  }
  .hero .w-40 {
    width: 100%;
  }
  .hero .w-60 {
    width: 100%;
  }
  #hero-img {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */