@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");
@import "buttons";
@import "container";
@import "hero";
@import "tooltip";
@import "navbar";
@import "card";
@import "alert";
@import "forms";

* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}

:root {
  --bg-color: rgb(49, 49, 49);
  --text-color: rgb(180, 180, 180);
}
html {
  background-color: var(--bg-color);
}

.note {
  color: var(--text-color);
  margin-top: 4rem;
}
